{% extends 'base.html' %}
{% block title %}Dashboard - RidwaanHall{% endblock %}
{% block listupper %}
  Dashboard
{% endblock %}
{% block hsixupper %}
  Dashboard - RidwaanHall
{% endblock %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa-solid fa-user-graduate"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Total Students</p>
            <h4 class="font-weight-bolder"><span class="small"></span><span id="state2" countTo="{{ home_jumlah.jumlah_mhs }}"></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa-solid fa-user-tie"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Total Lecturers</p>
            <h4 class="font-weight-bolder"><span class="small"></span><span id="state1" countTo="{{ home_jumlah.jumlah_dosen }}"></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa-solid fa-landmark-dome"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Total Study Programs</p>
            <h4 class="font-weight-bolder"><span class="small"></span><span id="state3" countTo="{{ home_jumlah.jumlah_prodi }}"></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
            <i class="fa-solid fa-building-columns"></i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Total College</p>
            <h4 class="font-weight-bolder"><span id="state4" countTo="{{ home_jumlah.jumlah_pt }}"></span><span class="small"></span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="study-program" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Study Programs Type</h6>
          <!--<p class="text-sm ">Agama: Ag, Humaniora: Hu, Sosial: So, MIPA: M, Seni: Sn, Kesehatan: Ks, Teknik: T, Pertanian: P, Ekonomi: E, Pendidikan: Pd</p>-->
          <p class="text-sm " ><span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Agama">Ag</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Humaniora">Hu</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sosial">So</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="MIPA">M</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Seni">Sn</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Kesehatan">Ks</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Teknik">T</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pertanian">P</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ekonomi">E</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pendidikan">Pd</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card z-index-2  ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="college-stat" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">College Type</h6>
          <!--<p class="text-sm ">Akademi: A, Politeknik: P, Sekolah Tinggi: ST, Institut: I, Universitas: U, Akademi Komunitas: AK</p>-->
          <p class="text-sm "><span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Akademi">A</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Politeknik">P</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sekolah Tinggi">ST</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Institut">I</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Universitas">U</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Akademi Komunitas">AK</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mb-3">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="stat_iku" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Key Performance Indicators</h6>
          <p class="text-sm " ><span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lecturer Act Outside the Campus">A</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="The Results of The Lecturer's Work are Used by The Public">B</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Collaborative Class">C</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Graduates Get Decent Jobs">D</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Students Gain Experience Outside Campus">E</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Teaching Practitioners on Campus">F</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Study Program in Collaboration with World-Class Partners">G</span>, <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="International Standard Study Program">H</span></p>
          <!--<p class="text-sm " >Lecturer Act Outside the Campus: A, The Results of The Lecturer's Work are Used by The Public: B, Collaborative Class: C, Graduates Get Decent Jobs: D, Students Gain Experience Outside Campus: E, Teaching Practitioners on Campus: F, Study Program in Collaboration with World-Class Partners: G, International Standard Study Program: H</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Student Field</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="chart">
              <canvas id="mhs-bidang" class="chart-canvas" height="170"></canvas>
            </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Projects</h6>
              <p class="text-sm mb-0">aww
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="chart">
              <canvas id="dsn-pt" class="chart-canvas" height="170"></canvas>
            </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Projects 2</h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          hehehe body 4
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h6 class="text-body font-weight-bold">Student Gender</h6>
          <div class="chart mt-2">
            <canvas id="mhs-klmn" class="chart-canvas" height="200px"></canvas>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h6 class="text-body font-weight-bold">Lecturer Gender</h6>
          <div class="chart mt-2">
            <canvas id="dsn-klmn" class="chart-canvas" height="200px"></canvas>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Orders overview 1 tiri 2</h6>
          <p class="text-sm">
            <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
            <span class="font-weight-bold">24%</span> this month
          </p>
        </div>
        <div class="card-body p-3">
          <div class="timeline timeline-one-side">
            <div class="timeline-block mb-3">
              <span class="timeline-step">
              <i class="material-icons text-primary text-gradient">key</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">Unlock packages for development</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step">
              <i class="material-icons text-dark text-gradient">payments</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">New order #9583120</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">17 DEC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            made with <i class="fa fa-heart"></i> by
            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
            for a better web.
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="#" class="nav-link text-muted" target="_blank">RidwaanHall</a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com/ridwaanhall" class="nav-link text-muted" target="_blank">Instagram</a>
            </li>
            <li class="nav-item">
              <a href=https://github.com/ridwaanhall" class="nav-link text-muted" target="_blank">Github</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link pe-0 text-muted" target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
{% block settings %}
<div class="fixed-plugin">
  <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
  <i class="material-icons py-2">settings</i>
  </a>
  <div class="card shadow-lg">
    <div class="card-header pb-0 pt-3">
      <div class="float-start">
        <h5 class="mt-3 mb-0">Configurator</h5>
        <p>See our dashboard options.</p>
      </div>
      <div class="float-end mt-4">
        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
        <i class="material-icons">clear</i>
        </button>
      </div>
      <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0">
      <!-- Sidebar Backgrounds -->
      <div>
        <h6 class="mb-0">Sidebar Colors</h6>
      </div>
      <a href="javascript:void(0)" class="switch-trigger background-color">
        <div class="badge-colors my-2 text-start">
          <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
        </div>
      </a>
      <!-- Sidenav Type -->
      <div class="mt-3">
        <h6 class="mb-0">Sidenav Type</h6>
        <p class="text-sm">Choose between 2 different sidenav types.</p>
      </div>
      <div class="d-flex">
        <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
      </div>
      <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
      <!-- Navbar Fixed -->
      <div class="mt-3 d-flex">
        <h6 class="mb-0">Navbar Fixed</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
        </div>
      </div>
      <hr class="horizontal dark my-3">
      <div class="mt-2 d-flex">
        <h6 class="mb-0">Light / Dark</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
        </div>
      </div>
      <hr class="horizontal dark my-sm-4">
    </div>
  </div>
</div>
{% endblock %}

{% block analys_dashboard %}
    <script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>
    <script>
      var ctx = document.getElementById("study-program").getContext("2d");
      var stat_prodiKeys   = {{ stat_prodi_keys | tojson | safe }};
      var stat_prodiValues = {{ stat_prodi_values | tojson | safe }};
      
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: stat_prodiKeys,
          datasets: [{
            label: "Study Programs",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: stat_prodiValues,
            maxBarThickness: 6
          }, ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });
      
      
      var ctx2 = document.getElementById("college-stat").getContext("2d");
      var stat_ptKeys   = {{ stat_pt_keys | tojson | safe }};
      var stat_ptValues = {{ stat_pt_values | tojson | safe }};
      
      new Chart(ctx2, {
        type: "bar",
        data: {
          labels: stat_ptKeys,
          datasets: [{
            label: "College",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: stat_ptValues,
            maxBarThickness: 6
          }, ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });
      
      var ctx3 = document.getElementById("stat_iku").getContext("2d");
      var rerata_ikuKeys   = {{ rerata_iku_keys | tojson | safe }};
      var rerata_ikuValues = {{ rerata_iku_values | tojson | safe }};
      
      new Chart(ctx3, {
        type: "bar",
        data: {
          labels: rerata_ikuKeys,
          datasets: [{
            label: "IKU",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: rerata_ikuValues,
            maxBarThickness: 6
          }, ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });

      // study field
      var ctx6 = document.getElementById("mhs-bidang").getContext("2d");
      var mhs_bidangKeys   = {{ mhs_bidang_keys | tojson | safe }};
      var mhs_bidangValues = {{ mhs_bidang_values | tojson | safe }};

      var gradientStroke1 = ctx6.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      new Chart(ctx6, {
        type: "line",
        data: {
          labels: mhs_bidangKeys,
          datasets: [{
              label: "Student Field",
              tension: 0.4,
              borderWidth: 0,
              pointRadius: 0,
              borderColor: "#cb0c9f",
              borderWidth: 3,
              backgroundColor: gradientStroke1,
              fill: true,
              data: mhs_bidangValues,
              maxBarThickness: 6

            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 10,
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });

      // dosen pt
      var ctx5 = document.getElementById("dsn-pt").getContext("2d");
      var dsn_ptKeys   = {{ dsn_pt_keys | tojson | safe }};
      var dsn_ptValues = {{ dsn_pt_values | tojson | safe }};

      var gradientStroke1 = ctx6.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      new Chart(ctx5, {
        type: "line",
        data: {
          labels: dsn_ptKeys,
          datasets: [{
              label: "Lecturer Degree",
              tension: 0.4,
              borderWidth: 0,
              pointRadius: 0,
              borderColor: "#cb0c9f",
              borderWidth: 3,
              backgroundColor: gradientStroke1,
              fill: true,
              data: dsn_ptValues,
              maxBarThickness: 6

            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 10,
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });

    // kelamin bahasisswa
      var ctx9 = document.getElementById("mhs-klmn").getContext("2d");
      var mhs_klmnKeys   = {{ mhs_klmn_keys | tojson | safe }};
      var mhs_klmnValues = {{ mhs_klmn_values | tojson | safe }};

      var gradientStroke1 = ctx9.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      var gradientStroke2 = ctx9.createLinearGradient(0, 230, 0, 50);

      gradientStroke2.addColorStop(1, 'rgba(44, 255, 255, 0.25)');
      gradientStroke2.addColorStop(0.2, 'rgba(215, 255, 255, 0.25)');
      gradientStroke2.addColorStop(0, 'rgba(44, 255, 255, 0.25)'); //purple colors
      
      new Chart(ctx9, {
        type: "pie",
        data: {
          labels: mhs_klmnKeys,
          datasets: [{
            label: "Student Gender",
            borderColor: "#cb0c9f",
            weight: 9,
            cutout: 0,
            tension: 0.9,
            pointRadius: 2,
            borderWidth: 2,
            backgroundColor: [gradientStroke1, gradientStroke2, '#3A416F'],
            data: mhs_klmnValues,
            fill: false
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false,
              }
            },
          },
        },
      });

    // kelamin bahasisswa
      var ctx7 = document.getElementById("dsn-klmn").getContext("2d");
      var dsn_klmnKeys   = {{ dsn_klmn_keys | tojson | safe }};
      var dsn_klmnValues = {{ dsn_klmn_values | tojson | safe }};

      var gradientStroke1 = ctx7.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      var gradientStroke2 = ctx7.createLinearGradient(0, 230, 0, 50);

      gradientStroke2.addColorStop(1, 'rgba(44, 255, 255, 0.25)');
      gradientStroke2.addColorStop(0.2, 'rgba(215, 255, 255, 0.25)');
      gradientStroke2.addColorStop(0, 'rgba(44, 255, 255, 0.25)'); //purple colors
      
      new Chart(ctx7, {
        type: "pie",
        data: {
          labels: dsn_klmnKeys,
          datasets: [{
            label: "Student Gender",
            borderColor: "#cb0c9f",
            weight: 9,
            cutout: 0,
            tension: 0.9,
            pointRadius: 2,
            borderWidth: 2,
            backgroundColor: [gradientStroke1, gradientStroke2, '#3A416F'],
            data: dsn_klmnValues,
            fill: false
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false,
              }
            },
          },
        },
      });
      
    </script>
{% endblock %}

{% block home_jumlah %}
<script src="{{ url_for('static', filename='assets/js/plugins/countup.min.js') }}"></script>
<script type="text/javascript">
      if (document.getElementById('state1')) {
        const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById('state2')) {
        const countUp = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById('state3')) {
        const countUp = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById('state4')) {
        const countUp = new CountUp('state4', document.getElementById("state4").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
    </script>
{% endblock %}